body {
	background: #000;
	color: #fff;
	margin: 0;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-style: italic;
}

a:link {
	color: #79F;
}

a:visited {
	color: #A8D;
}

a:hover {
	color: #CCC;
}

a:active {
	color: #FFF;
}

#content {
	margin-left: 15%;
	margin-right: 15%;
	border-left: 1px solid;
	border-right: 1px solid;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	height: 100%;
}

#name {
	float: left;
	font-size: 32pt;
	margin-right: 10px;
	width: auto;
	width: -webkit-calc(100% - 318px);
	width: -moz-calc(100% - 318px);
	width: calc(100% - 318px);
}

#profile {
	float: right;
}

#picture {
	border: 1px solid;
	padding: 3px;
}

#stats {
	border: 1px solid;
	border-top: 0px;
	padding: 3px 5px;
}

#statlist {
	border-spacing: 0;
	width: 100%;
}

#statlist tr td{
	border: 0px solid;
	border-bottom: 1px solid;
	text-align: right;
	padding: 8px 0px;
}

#statlist tr:last-child td {
	border-bottom: 0;
}

#statlist tr td.key {
	font-weight: bold;
	text-align: left;
}

.statgroup {
	list-style: none;
	margin: 0;
}

#facts {
	float: left;
	width: auto;
	width: -webkit-calc(100% - 318px);
	width: -moz-calc(100% - 318px);
	width: calc(100% - 318px);
}